<!DOCTYPE html>
<html lang="en" class="no-js">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Welcome to Kotak Payment Gateway</title>

    <link rel="icon" href="../static/images/favicon.png" type="image/vnd.microsoft.icon" sizes="16x16"/>

    <link rel="stylesheet" href="../static/css/style.css">

</head>

<body class="t">
    <div class="rn">
        <header class="nb">
            <div class="tcontainern">
                <div class="n_">
                    <div class="nk">
                        <h1 class="ot"><a href="index.html"><img src="../static/images/logo.svg" alt="Twist" width="32" height="32"></a></h1>
                    </div><button id="tc" class="tc" aria-controls="primary-menu" aria-expanded="false"><span class="st">Menu</span> <span class="th"><span class="tp"></span></span></button>
                    <nav id="nj" class="nj">
                        <div class="nq">
                            <ul class="sn re">
                                <li><a class="tbuttonn fbuttonl gbuttony sbuttono" href="http://127.0.0.1:8800/enroll">Register</a></li>
                                <li><a class="tbuttonn fbuttonl gbuttony sbuttono" href="http://127.0.0.1:8800/auth">Login</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <main class="nw">
            <section class="rb nx tillustration-section-n">
                <div class="tcontainern">
                    <div class="rm rd">
                        <div class="na">
                            <div class="nf">
                                <div class="rg nh ft">
                                    <h1 class="on oj reveal-from-left">Kotak Payment Gateway</h1>
                                    <p class="ot un reveal-from-left" data-reveal-delay="200">Make online payments directly from your Kotak Mahindra Account.</p>
                                    <div class="reveal-from-left" data-reveal-delay="400"><a class="tbuttonn fbuttonl gbuttony" href="http://127.0.0.1:8800/">Get started</a></div>
                                </div>
                                <div class="ry ig nl nc tillustration-element-n reveal-scale-up"><img src="../static/images/ui.png" alt="Hero image"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="iy nx fillustration-section-l">
                <div class="tcontainern">
                    <div class="features-split-inner rd">
                        <div class="rv sq">
                            <div class="scontainero">
                                <h2 class="on oj">Our Main Highlights</h2>
                                <p>Kotak Payment Gateway enables you to shop online, transfer money for online trading account, pay utility bills and much more.</p>
                            </div>
                        </div>
                        <div class="na np">
                            <div class="nf reveal-scale-up">
                                <div class="nh ft">
                                    <h3 class="on oj">Reliable</h3>
                                    <p class="ot">Kotak Pays provide you a platform which is fast and reliable to make money transactions in a click. With it's fast servers the users will have hassle free transactions.</p>
                                </div>
                                <div class="nl nc ig sillustration-element-o"><img src="../static/images/reliable.svg" alt="Features split image 01"></div>
                            </div>
                            <div class="nf reveal-scale-up">
                                <div class="nh ft">
                                    <h3 class="on oj">User Friendly</h3>
                                    <p class="ot">With minimal yet appealing UI design Kotak pays provide a user friendly platform so that it's easy to use for everyone.</p>
                                </div>
                                <div class="nl nc ig uillustration-element-a"><img src="../static/images/secure.svg" alt="Features split image 02"></div>
                            </div>
                            <div class="nf reveal-scale-up">
                                <div class="nh ft">
                                    <h3 class="on oj">Secure</h3>
                                    <p class="ot">Kotak pays use voice recognition for login/register and face recognition for payment transactions to make it more secure.</p>
                                </div>
                                <div class="nl nc ig fillustration-element-l"><img src="../static/images/user friendly.svg" alt="Features split image 03"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer class="rr ft villustration-section-m reveal-from-bottom" data-reveal-offset="0">
            <div class="tcontainern">
                <div class="ri">
                    <div class="rs rh h">
                        <div class="nk"><a href="index.html"><img src="../static/images/logo.svg" alt="Twist" width="32" height="32"></a></div>
                    </div>
                    <div class="ro rh h rp">
                        <div class="footer-copyright">© 2021 Kotak All rights reserved, Designed with ❤️ NightCoders</div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="../static/js/main.min.js"></script>
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-125021779-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-125021779-1', {
            'anonymize_ip': true
        });
    </script>
</body>

</html>